<div class="card" [class.off]="device.SubType === 'Switch' && device.Status === 'Off'" (click)="handleClick()">
  <div class="card-body p-3">
    <div class="row">
      <div class="col pr-2 pl-2">
        <img src="assets/images/{{device.TypeImg}}.png" class="device-img" alt="device icon">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col pr-2 pl-2">
        <span *ngIf="!(devicesEditable$ | async); else editName">
          {{ device.Name }}
        </span>
        <ng-template #editName>
          <input type="text" class="form-control" value="{{device.Name}}" (focusout)="handleFocusOutName($event)">
        </ng-template>
      </div>
    </div>
    <div class="row">
      <div class="col pr-2 pl-2 font-weight-light">
        {{ device.Data }}
      </div>
    </div>
  </div>
</div>
