$activeColor: orange;
$inactiveColor: #ccc;

.navbar {
    background-color: rgba($color: #000000, $alpha: 0.5);
    div.col {
        a{
            color: $inactiveColor;
            &.active {
                color: $activeColor;
                .text-logo{
                    color: $activeColor;
                }
            }
            &:hover{
                text-decoration: none;
            }
            fa-icon {
                font-size: 1.8rem;
            }
            .text-logo {
                font-size: 0.65rem;
                color: $inactiveColor;
            }
        }
    }
}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .navbar{
            padding-bottom: 40px;    
        }
    }