div.card{
    cursor: pointer;
    border-radius: 10px;
    &.off{
        background-color: rgba(255, 255, 255, 0.6); 
    }

    img.device-img{
      height: 30px;  
    }

    .form-control {
      background-image: linear-gradient(0deg,#3f51b5 2px,rgba(63,81,181,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
      font-size: .875rem;
      &:focus{
        box-shadow: none;
      }
    } 

    input[type="text"]{
      height: 20.8px;
    }

    .device-name {
      text-overflow: ellipsis;
    }
    
}
