/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    background-image: url("assets/images/house.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: auto 100%;
    background-position-x: center;
    background-attachment: fixed;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

svg {
    fill: currentColor;
}

@media screen and (min-width: 976px) {
    body{
        background-size: 100% 100%;
    }
}